* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #616161;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: row;
     padding: 0 16px;
  }
  
  /* router-outlet + *  {
   
  } */ 
  
  /* Text */
  
  h1 {
    font-size: 2vw;
    text-align: center;
  }
  
  h2 {
    font-size: 2vw;
    text-align: center;
  }
  
  h1, h2 {
    font-weight: lighter;
    text-align: center;
  }
  
  p {
    font-size: 16px;
  }
  
  /* Hyperlink */
  
  /* a {
    cursor: pointer;
    /* color: #1976d2; */
    /* color: #3fa469; */
    /* text-decoration: none; */
    /* text-align: center;
  } */
  
  /* a:hover {
    opacity: 0.8;
  }  */
  
  /* Input */
  
  /* input {
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
  } */
  
  /* label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
  }
   */
  /* consits of the buy and offer buttons*/
  .button, button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #3fa469;
    color: bisque;
    border: none;
  }
  /* buy and click me */
  .button:hover, button:hover {
    opacity: 0.8;
    font-weight: normal;
  }
  /* add to cart */
  .button:disabled, button:disabled {
    opacity: 0.5;
    cursor: auto;
    
  }
  
  /* this is add to cart icon */
  
  .fancy-button {
    background-color: #fffafa;          
    color: #3fa469;
  }
  
  .fancy-button i.material-icons {
    color: #3fa469;
    padding-right: 4px;
  }
  
  /* Top Bar */
  
  .app-top-bar {
    width: 100%;
    height: 100px;
    background-color: #3fa469;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 1000px; */

  }
  
  .app-top-bar h1 {
    color: white;
    margin: 0;
    align-items: center;
  }
  
  /* items */
  
  /* items {
    width: 50%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    /* background-color: #EEEEEE; */
    /* background-color: #858585; */
    /* background-color: #4d4d4d;
  } */
   
img{
    width: 300px;
    height: 300px;
}  
img:hover {
    transform: perspective(200px) translateZ(50px);
    /* transform: scaleX(-1); */
  }
  
.items{
    display: flex;
    flex-wrap: wrap;
    display: inline-block; 
    padding: 50px;

}
